<div class="login-container">
  <mat-card class="login-card">
    <img mat-card-image src="{{ logo }}" class="logo-card" alt="logo Tow" />

    <form [formGroup]="UpdatePasswordForm" (ngSubmit)="CambiarPassword()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña Anterior</mat-label>
        <input
          matInput
          formControlName="passwordAnterior"
          type="password"
          autocomplete="current-password"
          required
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña Nueva</mat-label>
        <input
          matInput
          formControlName="passwordNuevo"
          autocomplete="new-password"
          type="password"
          required
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Validar Contraseña Nueva</mat-label>
        <input
          matInput
          formControlName="passwordValidar"
          autocomplete="new-password"
          type="password"
          required
        />
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        class="full-width button-login"
        type="submit"
        [disabled]="UpdatePasswordForm.invalid"
      >
        @if (isApiLoading) {
          <mat-icon class="u-color-white" style="padding-top: 10px">
            <mat-spinner class="mat-spinner" diameter="20"></mat-spinner>
          </mat-icon>
        } @else {
          Cambiar Password
        }
      </button>
    </form>
  </mat-card>
</div>
