.card-title-listado {
  margin-left: 0px !important;
  margin-top: -10px;
}

.form-field {
  flex: 1 1 100%; /* Ocupa todo el ancho en pantallas pequeñas */
}

@media (min-width: 600px) {
  .form-field {
    flex: 1 1 calc(50% - 10.66px); /* 2 columnas desde 600px */
  }
}

@media (min-width: 960px) {
  .form-field {
    flex: 1 1 calc(33.33% - 10.66px); /* 3 columnas desde 960px */
  }
}
/*

.filtros-row {
  display: flex;
  flex-wrap: wrap; /* Permite que los inputs salten a la siguiente fila */
/*gap: 5px 8px; /* gap vertical de 8px y horizontal de 16px */
/*align-items: flex-end; /* Alinea los campos y botón por abajo */
/*  padding: 20px 10px;
}
*/

.table-header {
  background: #000580 !important;
  color: #ffffff !important;
  /* text-align: center;
  justify-content: center!important;  */
}

.table-center {
  text-align: center;
  justify-content: center !important;
}

.col-angosta-accion {
  width: 150px;
  max-width: 150px;
  white-space: normal;
  word-break: break-word;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-delete {
  color: rgb(225, 64, 64);
}

::ng-deep .mat-sort-header-arrow svg {
  fill: #ffffff !important;
}

.hoverable-row:hover {
  background-color: #e8e7eb !important; /* Light gray on hover */
  cursor: pointer !important; /* Optional: shows pointer */
  transition: background-color 0.3s !important;
}

::ng-deep .mat-mdc-paginator {
  color: #000580 !important;
}

::ng-deep .cdk-overlay-pane.custom-dialog-container {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 80vh !important; /* Fuerza altura completa de la pantalla */
  border-radius: 0px !important;
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8); /* opcional: fondo translúcido */
  z-index: 9999;
}

::ng-deep
  .mat-mdc-progress-spinner
  .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: #000580 !important;
}

::ng-deep div.mat-mdc-select-panel {
  background-color: #faf9fd !important;
}

::ng-deep
  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(
    .mat-mdc-option-multiple
  ) {
  background-color: #000580 !important;
}

::ng-deep
  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(
    .mat-mdc-option-multiple
  )
  .mdc-list-item__primary-text {
  color: white !important;
}

::ng-deep .mat-mdc-option .mat-pseudo-checkbox {
  --mat-minimal-pseudo-checkbox-selected-checkmark-color: white !important;
}
::ng-deep .mat-mdc-option {
  color: white !important;
}

.scroll-container {
  max-height: 400px;
  overflow: auto;
  overflow-y: auto;
  overflow-x: auto;
}

.demo-data * {
  margin: 16px 0;
}
