<mat-toolbar style="background: #000580;">
    <mat-toolbar-row>
        <span style="flex: 1 1 auto;"></span>
        <h2 style="padding-top: 5px;" class="u-color-white">{{titulo}}</h2>
        <span style="flex: 1 1 auto;"></span>
        <button class="btn-close-dialog pointer" style="background: transparent;border: 0px;" mat-icon-button
            (click)="emitClose()" title="Cerrar">
            <mat-icon class="u-color-white">cancel</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>