<div class="perfilCard">
  <mat-card class="card-perfil" appearance="outlined">
    @if (!sinPerfil) {
      <img mat-card-image [src]="safeUrl" alt="Perfil" />
    } @else {
      <img mat-card-image [src]="urlAvatar" alt="Perfil" />
    }
  </mat-card>
  <mat-card class="card-dataPerfil" appearance="outlined">
    <mat-card-content>
      <form [formGroup]="configuracionForms" (ngSubmit)="guardar()">
        <div class="form-row">
          <mat-form-field
            appearance="outline"
            class="form-field"
            style="width: 100% !important"
          >
            <mat-label>Login</mat-label>
            <input
              matInput
              placeholder="Login"
              style="resize: none !important"
              formControlName="Login"
              [readonly]="readonly"
            />
          </mat-form-field>
          <mat-form-field
            appearance="outline"
            class="form-field"
            style="width: 100% !important"
          >
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="Email"
              style="resize: none !important"
              formControlName="Email"
              [readonly]="readonly"
            />
          </mat-form-field>
          <mat-form-field
            appearance="outline"
            class="form-field"
            style="width: 100% !important"
          >
            <mat-label>Nombre</mat-label>
            <input
              matInput
              placeholder="Nombre"
              style="resize: none !important"
              formControlName="Nombre"
            />
          </mat-form-field>
          <mat-form-field
            appearance="outline"
            class="form-field"
            style="width: 100% !important"
          >
            <mat-label>Nuevo Password</mat-label>
            <input
              matInput
              type="password"
              placeholder="Nuevo Password"
              style="resize: none !important"
              autocomplete="new-password"
              formControlName="Password"
            />
          </mat-form-field>
          <mat-form-field
            appearance="outline"
            style="width: 75%; padding-bottom: 20px"
          >
            <mat-label>Seleccionar foto</mat-label>
            <input matInput [readonly]="true" />
            <input
              type="file"
              #fileInput
              style="display: none"
              (change)="onFileSelected($event)"
              accept="image/*,"
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="fileInput.click()"
              style="background: transparent; border: 0px"
            >
              <mat-icon class="color-general icon_filtro">attach_file</mat-icon>
            </button>
            <mat-hint>Max. 10MB</mat-hint>
          </mat-form-field>
        </div>

        <div class="form-row">
          <button
            type="submit"
            mat-raised-button
            color="primary"
            class="buttonSave pointer"
          >
            <mat-icon class="u-color-white iconButton">save</mat-icon
            ><span class="u-color-white spanButton">Guardar</span>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
